{% extends 'admin/layouts/base_admin.twig' %}
{% block title %}Change-password - Admin{% endblock %}
{% block content %}
<div class="container-fluid px-3 px-md-4" style="padding-top: 2rem !important;">
    <h1 class="mb-4">Change-password</h1>
    <p class="text-muted">Template Twig em construção. Conteúdo será migrado em breve.</p>
</div>
{% endblock %}
