<footer class="border-top admin-content-footer">
    <div class="container-fluid py-3 d-flex justify-content-center align-items-center">
        <div class="p-3 small text-center">
            <div class="d-flex align-items-center justify-content-center gap-2 mb-2">
                <i class="bi bi-shield-fill-check"></i>
                <span class="fw-semibold">AORE/RN</span>
            </div>
            <span class="small fw-medium">© {{ 'now'|date('Y') }} Portal Administrativo</span>
        </div>
    </div>
</footer>
